body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image:  url(navbg.jpg);
}
a:link {
	color: #009900;
}
a:visited {
	color: #009900;
}
a:hover {
	color: #009900;
}
a:active {
	color: #009900;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #009900;
}
hr {
	color:#CCCCCC;
}
.style2 {font-size: 11px}
.style3 {
	color: #009900;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.style4 {
	font-size: 10px;
	color: #009900;
}
.style5 {
	color: #009900;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.style6 {
	color: #427526;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.style7 {
	font-size: 13px;
	font-weight:bold;
	color: #009900;
}
li {
	list-style-image: url(arrow.gif);
	list-style-position: outside;
}
